textarea {
	display: block;
  padding: 10px;
  border: 0;
  min-height: 50vh;
	height: 100%;
	outline: none;
	background-color: rgb(19 19 19);
	padding: 15px;
	color: rgb(143, 143, 143);
}

.user_input, .user_output {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-basis: calc(50% - 30px);
	/* max-width: 768px; */
	/* margin: 10px auto; */
}